<div style="margin-left: 200px; margin-right: 200px">
    <div class="indexNav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/customer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>

<br>
<div id="contact" class="container-fluid bg-grey">
    <h3 class="text-center">CONTACT</h3>
    <br>
    <div class="row text-center">
        <div class="col-sm">
            <p><i class="fas fa-home"></i> Port-Express at Long Beach, CA US</p>
            <p><i class="fas fa-phone"></i> +00 1515151515</p>
            <p><i class="fas fa-envelope-square"></i> company@example.com</p>
        </div>

        {{!-- <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div> --}}

    </div>
</div>
<br>